<% provide(:title, "About") %>

<h1>About</h1>
<p>
  	Energy Storage Stats is a knowledge resource of publicly available data.  The current release is a first-order demo, stay tuned for updates.
</p>

<p>
	No claims are made as to the accuracy or reproducibility of data displayed on this site beyond the existence of that data in generally available literature, including peer-reviewed academic publications, and industrial presentations and fact-sheets in the public domain.
</p>


<p>
  	Plots are built with <a href="http://d3js.org/">D3.js</a> running <a href="http://rubyonrails.org/">Rails</a>.
</p>

<!-- 
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %> -->