<h1>EnergyStorageStats</h1>
<body>
<p>
	A demo to expand information like this: <a href="http://en.wikipedia.org/wiki/Ragone_chart">Ragone chart</a>.
</p>

<div id="#rectDemo"></div>
<script src="SVGdemo.js"></script>
<!--><div class="qtlcharts" id="chart3"></div><-->
</body>