<div class="center jumbotron">
	<!-- <h1>Energy Storage Stats</h1> -->

	<h2>
		Welcome to Energy Storage Stats, a demo to expand information like this: <a href="http://en.wikipedia.org/wiki/Ragone_chart">Ragone chart</a>.
	</h2>

<!--
 <%= link_to image_tag("ESS1.1_EAEAEAbkgd.png", alt: "ESS1 logo"), 'http://energystoragestats.com/' %>
-->

</div>


</div>




<body class='with-3d-shadow with-transitions'>

<div id="offsetDiv">
  <div id="test1" class="chartWrap">
    <svg></svg>
  </div>
</div>

<% content_for :javascript do %>

  <script type='text/javascript'>

//Format A
var chart;
nv.addGraph(function() {
  chart = nv.models.scatterPlusLineChart()
                .showDistX(true)
                .showDistY(true)
                .transitionDuration(300)
                .color(d3.scale.category10().range());


  chart.xScale(d3.scale.log());  
  chart.xAxis.tickValues([1, 10, 100]);
  chart.xAxis.tickFormat(d3.format('.02f'))
  chart.forceX([1, 100]);

  chart.yScale(d3.scale.log());  
  chart.yAxis.tickValues([1, 10, 100]);
  chart.yAxis.tickFormat(d3.format('.02f'))
  chart.forceY([1, 100]);

  d3.select('#test1 svg')
      .datum(nv.log(randomData(4,40)))
      .call(chart);

  nv.utils.windowResize(chart.update);

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});


function randomData(groups, points) { //# groups,# points per group
  var data = [],
      shapes = ['circle', 'cross', 'triangle-up', 'triangle-down', 'diamond', 'square'],
      random = d3.random.logNormal();

  for (i = 0; i < groups; i++) {
    data.push({
      key: 'Group ' + i,
      values: [],
      slope: Math.random() - .01,
      intercept: Math.random() - .5
    });

    for (j = 0; j < points; j++) {
      data[i].values.push({
        x: random(), 
        y: random(), 
        size: Math.random(), 
        shape: shapes[j % 6]
      });
    }
  }

  return data;
}



</script>

<% end %>
</body>





