<div class="center jumbotron">
	<h1>Energy Storage Stats</h1>

	<h2>
		A demo to expand information like this: <a href="http://en.wikipedia.org/wiki/Ragone_chart">Ragone chart</a>.
	</h2>

	<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>


<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>


<div class="chart"></div>

<% content_for :javascript do %>
  <script type='text/javascript'>
    var rectDemo = d3.select(".chart").
  		append("svg").
  		attr("width", 400).
  		attr("height", 300);

	rectDemo.append("rect").
  		attr("x", 100).
  		attr("y", 100).
  		attr("height", 100).
  		attr("width", 200);
  </script>

<% end %>