<div class="center jumbotron">
	<h3>Energy Storage Stats</h3>

	<h2>
		Energy Storage Stats is a resource in alpha-release to expand information like this: <a href="http://en.wikipedia.org/wiki/Ragone_chart">Ragone chart</a>.
	</h2>

</div>

<div class="scatter" style="text-align:center;"></div>

<% content_for :javascript do %>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script type='text/javascript'>

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 800 - margin.left - margin.right,
    height = 510 - margin.top - margin.bottom;

var x = d3.scale.log()
    .range([0, width]);

var y = d3.scale.log()
    .range([height, 0]);

var color = d3.scale.category10();

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var tooltip = d3.select(".scatter").append("div") 
    .attr("class", "tooltip")       
    .style("opacity", 0);

// http://bl.ocks.org/Caged/6476579 //
var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return d.powerDensity + ", " +d.energyDensity + "<br> </br>" + d.citationShort + "<br> </br>" + d.device;
  })
  //

var svg = d3.select("div.scatter").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// http://bl.ocks.org/Caged/6476579 //
svg.call(tip);
//

d3.tsv("assets/sampleESSdata.tsv", function(error, data) {
  data.forEach(function(d) {
    d.energyDensity = +d.energyDensity;
    d.powerDensity = +d.powerDensity;
  });

  x.domain(d3.extent(data, function(d) { return d.powerDensity; })).nice();
  y.domain(d3.extent(data, function(d) { return d.energyDensity; })).nice();

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("Energy Density (Wh/kg) [values are arbitrary]");

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Power Density (W/kg) [values are arbitrary]");

  svg.selectAll(".dot")
      .data(data)
    .enter().append("circle")
      .attr("class", "dot")
      .attr("r", 5)
      .attr("cx", function(d) { return x(d.powerDensity); })
      .attr("cy", function(d) { return y(d.energyDensity); })
      .style("fill", function(d) { return color(d.device); })
      // http://bl.ocks.org/Caged/6476579 //
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide)
      //
      .on('click', function(d,i) { var text = d3.select("div.scatter").append("div").append("text")
        .data(data)
        .style("fill", "black")
        .attr("x", 0)
        .attr("y", 0)
        .text(function() { return d.citationLong; })
        })
    .append("svg:title")
      .text(function(d, i) { return d.device; });

  var legend = svg.selectAll(".legend")
      .data(color.domain())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });

});

var instructions = d3.select("div.scatter")
    .append("div")
    .append("text")
        // .append("svg")
    .attr("x", 100)
    .attr("y", 100)

    // .style("fill", "black")
    .text("Click data points to add their data values and citations here.");
</script>

<% end %>











