@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #f6f6f6;
  /*font-family: Chicago;*/
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  	margin-bottom: 10px;
  }
}


.jumbotron {
  /*background-color: white;*/
  background-image:
    linear-gradient(
    to top,
    #f6f6f6 10%, white);
/*  border: 1px;
  border-style: solid;
  /*border-color: #A7D7F9;*/
  /*border-image:
      linear-gradient(to bottom, #A7D7F9, #F6F6F6) 1 100%;*/
/* border-top: #A7D7F9;
  border-bottom: #F6F6F6;*/
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #252525;
}

h1 {
  font-size: 3em;
  /*letter-spacing: -0.5px;*/
  margin-bottom: 30px;
  text-align: left;
  /*font-family: Georgia;*/
  font-family: $font-family-serif;
}

h2 {
  font-family: Arial;
  font-size: 1.2em;
  letter-spacing: -0.5px;
  /*margin-bottom: 30px;*/
  text-align: justify;
  text-justify: inter-word;
  font-weight: normal;
  /*color: gray;*/
  color: #333333;
}

/*h3 {
  font-family: Georgia;
  text-align: left;
}*/

h3 {
  font-family: Arial;
  font-size: 1.2em;
  /*letter-spacing: -0.5px;*/
  /*margin-bottom: 30px;*/
  text-align: justify;
  text-justify: inter-word;
  font-weight: normal;
  /*color: gray;*/
  color: #333333;

}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

/*@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
  font-style: italic, oblique;
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
}*/

#logo {
  float: left;
  margin-right: 0px;
  font-size: 1.8em;
  /*font-family: Georgia;*/
  font-family: $font-family-serif;
  /*font-variant: small-caps;*/
  /*font-style: italic;*/
  color: black;
  /*letter-spacing: -1px;*/
  padding-top: 8px;
  &:hover {
  	color: #A7D7F9;
  	text-decoration:none;
  }
}

/*#logo-org {
  float: left;
  margin-right: 10px;
  font-size: 2.1em;
  font-family: "Computer Modern";
  font-style: italic;
  color: white;
  letter-spacing: -1px;
  padding-top: 5px;
  &:hover {
    color: white;
    text-decoration:none;
  }
}*/

.navbar {
  height: 10px;
}

.navbar-default {
    background-image:
      linear-gradient(
        to top,
        #f6f6f6, white);
    /*background-color: #f6f6f6;*/
    border-color: #A7D7F9;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  	a {
  		color: $gray;
  		&:hover {
  			color: $gray-darker;
  		}
  	}
  	small {
  		float: left;
  	}
  	ul {
  		float: right;
  		list-style: none;
  		li {
  			float: left;
  			margin-left: 15px;
  		}
  	}
}