/*.chart rect {
  fill: steelblue;
}
*/
.chart text {
  fill: white;
  font: 12px sans-serif;
  text-anchor: end;
}

.label {
  font: 12px Arial;
  /*font-weight: bold;*/
}

.legend {
  font: 12px Arial;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

circle {
  stroke: #000;
}

.dot:hover {
  /*stroke: #17BECF;*/
  stroke: #fff;
  opacity: 0.5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

/* (Attempt to) resize SVG scatter plot based on browser window size. */
@media screen and (max-width:767px){
  div.scatter {
    height: 400;
  }
}
@media screen and (min-width:768px){
  div.scatter {
    height: 500;
  }
}
@media screen and (min-width:992px){
  div.scatter {
    height: 600;
  }
}
@media screen and (min-width:1200px){
  div.scatter {
    height: 700;
  }
}




